@import "base/variables";
@import "base/fonts";
@import "base/typography";
@import "base/colors";
@import "base/buttons";
@import "components/header";
@import "components/index";
@import "components/color-themes";
@import "components/icon";
@import "components/icon-settings";
@import "components/icon-playback";
@import "components/icon-menu";
@import "components/underpage-text";

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

button {
  border-color: none;
  border-style: none;
  border-width: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  box-sizing: inherit;
  font: inherit;
}
