.text-wrap {
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  width: 612px;

  h1 {
    color: $color-lightgrey;
    letter-spacing: 1px;
    font-variant-ligatures: none;
  }

  h4 {
    color: $color-lightgrey;
  }

  p {
    text-align: left;
    font-weight: 300;
    font-size: 1em;
  }

  strong {
    color: #dcdcdc;
  }
}
