//Configure & Get code component

//Configure state

//Button wrapper
.right-container1 {
  display: flex;
  justify-content: space-between;
  width: 328px;

  @media #{$smalldesktop} {
    display: none;
  }
}

//Slider component

//Wrapper
.right-container2 {
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 328px;
  padding-top: 12px;

  @media #{$smalldesktop} {
    display: none;
  }

  //Sliders
  .slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 328px;
    padding-top: 20px;

    h4 {
      font-weight: 300;
    }

    .input-box {
      border: none;
      height: 32px;
      width: 64px;
      border-radius: 4px;
      font-family: "SourceSansVariable";
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 0.8px;
      padding-left: 8px;
      transition: 0.07s ease;

      &:hover {
        background-color: $color-black;
      }
    }

    .slider {
      appearance: none;
      width: 160px;
      height: 3px;
      outline: none;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 21px;
      height: 21px;
      border-radius: 25px;
      box-shadow: 1px 2px 8px rgba(0, 0, 6, 0.2);
      cursor: pointer;
      transition: 0.07s ease;

      &:hover {
        background-color: #515151;
      }

      &:active {
        width: 25px;
        height: 25px;
        background-color: $color-black;
      }
    }
  }
}

.mod-active {
  display: flex;
}

//Easing component
.easing {
  display: flex;
  justify-content: space-between;
  width: 328px;
  padding-top: 20px;

  @media #{$smalldesktop} {
    display: none;
  }

  h4 {
    font-weight: 300;
  }

  .easing__button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 21px;
    width: 255px;
    height: 96px;
  }
}

// Get code component
.right-container-code {
  display: none;
  padding-top: 32px;
}

.code__wrapper {
  background-color: $color-dark-theme-button;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.2);

  p {
    text-align: left;
    font-weight: 300;
    font-variation-settings: "wght" 300;
  }
}
