//Configure & Get code component

.configure-button {
  // display: none;

  @media #{$smalldesktop} {
    // display: block;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 3px solid $color-lightgrey;
    transition: 0.4s ease;
  }
}

.configure-bg {
  transition: bottom 0.4s ease;

  @media #{$smalldesktop} {
    position: fixed;
    bottom: -50vh;
    height: 50vh;
    width: 100vw;
  }

  @media #{$mobile} {
    bottom: -50vh;
  }

  @media #{$smallmobile} {
    height: 59vh;
    bottom: -59vh;
  }
}

.config-menu.config-active {
  .configure-button {
    bottom: 52vh;

    @media #{$smallmobile} {
      bottom: 61vh;
    }
  }

  .configure-bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    bottom: 0px;

    @media #{$tablet} {
      justify-content: center;
    }
  }

  .config-menu__button-wrapper {
    display: flex;
    justify-content: space-between;

    button {
      background-color: $color-dark-theme-button;
      border-radius: 4px;
      box-shadow: 0px 5px 15px rgba(15, 15, 15, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.07s ease;
      width: 132px;
      height: 40px;
    }

    div {
      flex: 1 0 8px;
    }

    @media #{$mobile} {
      margin-top: 10%;
    }

    @media only screen and (max-width: 321px) {
      margin-top: 5%;
    }
  }

  .right-container2 {
    display: flex;
  }

  .right-container1 {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    bottom: 0px;
    width: 100vw;
  }

  .btn-normal {
    width: 50vw;
    border-radius: 0px;
    box-shadow: none;
  }
}

//Configure state

//Button wrapper
.config-menu__button-wrapper {
  display: none;
}

.right-container1 {
  display: flex;
  justify-content: space-between;
  width: 328px;

  @media #{$smalldesktop} {
    display: none;
  }
}

//Slider component

//Wrapper
.right-container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 328px;
  padding-top: 12px;

  @media #{$smalldesktop} {
    display: none;
    width: 90vw;
  }

  //Sliders
  .slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 328px;
    padding-top: 20px;

    @media #{$smalldesktop} {
      width: 90vw;
    }

    h4 {
      font-weight: 300;
    }

    .input-box {
      border: none;
      height: 32px;
      width: 64px;
      border-radius: 4px;
      font-family: "SourceSansVariable";
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 0.8px;
      padding-left: 8px;
      transition: 0.07s ease;

      &:hover {
        background-color: $color-black;
      }
    }

    .slider {
      appearance: none;
      width: 160px;
      height: 3px;
      outline: none;

      @media #{$smalldesktop} {
        width: 50%;
      }
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 21px;
      height: 21px;
      border-radius: 25px;
      box-shadow: 1px 2px 8px rgba(0, 0, 6, 0.2);
      cursor: pointer;
      transition: 0.07s ease;
      border: none;

      &:hover {
        background-color: #515151;
      }

      &:active {
        width: 25px;
        height: 25px;
        background-color: $color-black;
      }
    }
  }
}

//Easing component
.easing {
  display: flex;
  justify-content: space-between;
  width: 328px;
  padding-top: 20px;

  @media #{$smalldesktop} {
    width: 100%;
  }

  h4 {
    font-weight: 300;
  }

  #desktop-title {
    @media #{$smalldesktop} {
      display: none;
    }
  }

  .easing__button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 16px;
    width: 100%;

    @media #{$smalldesktop} {
      margin-left: 2.7%;
    }

    .btn {
      flex-grow: 1;
      padding: 10px 0 10px 0;
      margin-bottom: 8px;
      margin-left: 2.7%;
      width: 47.3%;

      @media #{$smalldesktop} {
        flex-grow: 0;
        padding: 2px 4px 2px 4px;
        height: 32px;
        border-radius: 4px;
        width: 28%;
        margin-left: 0;
        margin-right: 2.7%;
      }

      @media #{$smallmobile} {
        flex-grow: 1;
        width: 27%;
      }
    }
  }
}

// Get code component
.right-container-code {
  display: none;
  padding-top: 32px;

  @media #{$smalldesktop} {
    display: none;
  }
}

.code__wrapper {
  @media #{$smalldesktop} {
    display: none;
  }
  background-color: $color-dark-theme-button;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.2);

  p {
    text-align: left;
    font-weight: 300;
    font-variation-settings: "wght" 300;
  }
}
