//Easing component

.easing {
  display: flex;
  justify-content: space-between;
  width: 328px;
  padding-top: 20px;

  @media #{$smalldesktop} {
    width: 100%;
  }

  @media #{$tablet} {
    width: 70%;
    padding-top: 40px;
  }

  h4 {
    font-weight: 400;
  }

  input {
    border: none;
  }

  input[type="text"] {
    color: $color-white;
  }

  #desktop-title {
    @media #{$smalldesktop} {
      display: none;
    }
  }

  .easing__button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 16px;
    width: 100%;

    @media #{$smalldesktop} {
      margin-left: 2.7%;
    }

    .btn {
      padding: 10px 0 10px 0;
      margin-bottom: 8px;
      margin-left: 2.7%;
      min-width: 47.3%;

      &:nth-of-type(1) {
        width: 100%;
      }

      @media #{$smalldesktop} {
        flex-grow: 0;
        flex-wrap: wrap;
        padding: 2px 4px 2px 4px;
        height: 32px;
        border-radius: 4px;
        min-width: 45%;
        margin-left: 0;
        margin-right: 2.3%;
      }

      @media #{$smallmobile} {
        flex-grow: 1;
        flex-wrap: wrap;
        width: 27%;
      }
    }

    .flex-grow {
      flex-grow: 2;
    }
  }
}
