.fifty-fifty {
  display: flex;
  justify-content: space-between;
  // background: linear-gradient(to right, #fff 50%, #1d1d1d 50%);
  height: 646px;

  @media #{$desktop} {
    flex-wrap: wrap;
    height: 1292px;
  }

  .fifty-fifty-block {
    width: 50%;
    padding: 32px 48px;

    @media #{$desktop} {
      width: 100%;
    }

    @media #{$tablet} {
      padding: 32px 24px 48px 24px;
    }

    .content-box {
      align-self: center;
      margin-top: 105px;
      text-align: center;
    }

    .icon {
      font-family: "Variicon";
      align-self: center;
      text-align: center;
      font-size: 250px;
      margin: 0px;
      font-variation-settings: "TIME" 0, "wdth" 100, "wght" 30;
    }

    .icon:hover {
      cursor: pointer;
      font-variation-settings: "TIME" 100, "wdth" 100, "wght" 30;
      transition-property: font-variation-settings;
      transition-duration: 0.3s;
    }
  }

  .centered {
    position: relative;
    bottom: -40%;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .placeholder {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .setup-text {
    margin-top: 48px;
  }

  p {
    max-width: 512px;
  }
}
