.menu-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 75vw;
  padding-top: 48px;

  @media #{$smalldesktop} {
    width: 90vw;
  }

  @media #{$mobile} {
    width: 100vw;
    padding-top: 0px;

    a:not(:first-child) {
      display: none;
      align-self: center;
    }

    a {
      padding: 20px;
    }

    div {
      display: none;
    }
  }

  a {
    color: #999999;
    transition: 0.03s ease;

    &:hover {
      color: #fff;
    }

    &:focus &:active {
      color: #fff;
    }
  }

  .hamburger {
    display: none;
    font-family: "Variicon";
    font-size: 40px;
    font-variation-settings: "TIME" 0, "wdth" 100, "wght" 20;
    transition: 0.13s cubic-bezier(0.88, 0.01, 0.72, 1);
    height: 20%;

    @media #{$mobile} {
      display: block;
    }
  }
}

.menu__links {
  display: flex;
  justify-content: space-between;

  .menu__item {
    padding-left: 48px;
  }
}

@media #{$mobile} {
  .menu.expanded {
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba($color-black, 0.97);
    height: 100vh;
    transition: background-color 0.25s;

    .menu__links {
      flex-direction: column;
    }
  }
}

.menu.expanded a.hamburger {
  font-variation-settings: "TIME" 100, "wdth" 100, "wght" 20;
}

.menu.expanded a:not(:nth-child(-n + 2)) {
  display: block;
  transition: display 2s;
}

.menu__item--color-pick {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #999999;
  margin-left: 48px;
  transition: 0.07s ease;

  &:hover {
    background-color: #fff;
    cursor: pointer;
  }

  &:active {
    background-color: #fff;
  }
}
