.menu-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 75vw;
  padding-top: 48px;

  @media #{$smalldesktop} {
    width: 100vw;
    padding-top: 0px;

    a:not(:first-child) {
      display: none;
      align-self: center;
    }

    a {
      padding: 20px;
    }

    div {
      display: none;
    }
  }

  @media #{$mobile} {
  }

  .hamburger {
    display: none;
    font-family: "Variicon";
    font-size: 40px;
    font-variation-settings: "TIME" 0, "wdth" 100, "wght" 20;
    transition: 0.13s cubic-bezier(0.88, 0.01, 0.72, 1);
    height: 20%;

    @media #{$smalldesktop} {
      display: block;
    }
  }
}

.menu__links {
  display: flex;
  justify-content: space-between;

  .menu__item {
    padding-left: 48px;
  }
}

@media #{$smalldesktop} {
  .menu.expanded {
    position: fixed;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba($color-black, 0.97);
    height: 100vh;
    transition: background-color 0.25s;

    .menu__links {
      flex-direction: column;
    }

    .menu__item {
      padding: 20px 0 20px 0;
    }
  }
}

.menu.expanded a.hamburger {
  font-variation-settings: "TIME" 100, "wdth" 100, "wght" 20;
}

.menu.expanded a:not(:nth-child(-n + 2)) {
  display: block;
  transition: display 2s;
}
