.hero {
  padding: 48px;
  background-color: $color-black;

    @media #{$tablet} {
      padding: 24px 24px 48px 24px;
    }

  h1 {
    color: $color-bright;

    @media #{$tablet} {
      font-size: 3em;
    }
  }

  .test {
    font-family: SourceSans;
    font-size: 4em;
    color: $color-bright;
  }

  p {
    color: $color-bright;
  }

  .ani-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: $color-bright;
  }

  .content-wrapper {
    max-width: 528px;
    display: flex;
  }

  .hero-preamble {
    margin: 50px 0px 50px 0px;
    color: $color-bright;
    max-width: 512px;
  }
}
