//Icon menu component

//Icon menu idle
.hamburger2 {
  font-family: "Variicon";
  color: $color-bright;
  font-variation-settings: "TIME" 0, "wdth" 80, "wght" 30;
}

//Button wrapper
.js-icon-button {
  display: none;
  font-family: "Variicon";
  font-size: 40px;
  font-variation-settings: "TIME" 0, "wdth" 70, "wght" 5;
  color: $color-white;

  @media #{$smalldesktop} {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Icon selection container
.left-container1 {
  width: 328px;

  @media #{$smalldesktop} {
    display: none;
  }

  .icon-wrapper {
    display: flex;
  }
}

// Icon selection container active mobile
.left-container1.expanded {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-black, 0.97);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  cursor: pointer;
}

// Icon item
.icon-item {
  width: 64px;
  height: 64px;
  font-family: "Variicon";
  font-size: 40px;
  font-variation-settings: "TIME" 0, "wdth" 80, "wght" 30;
  transition: font-variation-settings 0.2s ease;
  text-align: center;
  margin-right: 2px;

  &:hover {
    cursor: pointer;
    font-variation-settings: "TIME" 100, "wdth" 80, "wght" 30;
  }
}
