//Icon playback

//State button component
.mid-container1 {
  display: flex;
  justify-content: space-between;
  width: 328px;

  @media #{$tablet} {
    margin-top: 60px;
  }

  @media #{$mobile} {
    width: 308px;
    margin-top: 35px;
  }

  @media #{$smallmobile} {
    width: 308px;
  }
}

//Playback options component
.mid-container2 {
  display: flex;
  justify-content: space-between;
  width: 106px;
  padding-top: 28px;

  @media #{$smalldesktop} {
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    padding-top: 0px;
    width: 164px;
  }
}

// Color theme picker
.theme-picker {
  display: flex;
}

// Theme picker container
.theme-picker-sheet {
  display: none;
  padding: 24px;
}

// Theme picker color list
.theme-picker-sheet__colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;

  :first-child {
    button {
      background-color: $color-dark-theme-primary;
    }
  }

  :nth-child(2) {
    button {
      background-color: $color-white;
    }
  }

  :nth-child(3) {
    button {
      background-color: $color-yellow-theme-primary;
    }
  }

  :nth-child(4) {
    button {
      background-color: $color-blue-theme-primary;
    }
  }

  // Theme picker elements
  .theme-picker-sheet__color {
    display: list-item;
    padding: 0 8px;

    .theme-picker-sheet__color--background {
      display: block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// Theme picker expanded
.theme-picker-sheet.expand {
  display: block;

  @media #{$smalldesktop} {
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 0px;
  }
}
