//Active icon component

//Active icon
.top-section__icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-icon {
  font-family: "Variicon";
  color: $color-bright;
  font-size: 25vmin;
  transition: font-variation-settings;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.75, 0, 0, 1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @media #{$smalldesktop} {
    font-size: 30vmin;
  }

  @media #{$mobile} {
    font-size: 60vmin;
    margin-top: 60px;
  }
}

.top-section__icon.loop {
  // Loop animation
  @keyframes loop {
    20% {
      font-variation-settings: "TIME" 0;
    }

    50% {
      font-variation-settings: "TIME" 50;
    }

    80%,
    100% {
      font-variation-settings: "TIME" 100;
    }
  }

  @-webkit-keyframes loop {
    20% {
      -webkit-font-variation-settings: "TIME" 0;
    }

    50% {
      -webkit-font-variation-settings: "TIME" 50;
    }

    80%,
    100% {
      -webkit-font-variation-settings: "TIME" 100;
    }
  }

  animation: loop 0s infinite alternate;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.75, 0, 0, 1);
}
