//configure & Get CSS component

// classes to toggle configure/code view
.setting-container-display-flex {
  display: flex;
}
.setting-container-display-none {
  display: none;
}

//Configure state

//Button wrapper
.config-menu__button-wrapper {
  display: none;
}

.right-container1 {
  display: flex;
  justify-content: space-between;
  width: 328px;

  @media #{$smalldesktop} {
    display: none;
  }
}

// open settings menu button small screens
.configure-button {
  @media #{$smalldesktop} {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 3px solid $color-lightgrey;
    transition: 0.4s cubic-bezier(0.89, 0.01, 0.68, 1);
  }
}

// small screen menu container
.configure-bg {
  flex-direction: column;
  align-items: center;
  display: flex;
  transition: bottom 0.4s cubic-bezier(0.89, 0.01, 0.68, 1);

  @media #{$smalldesktop} {
    position: fixed;
    bottom: -47vh;
    height: 47vh;
    width: 100vw;
  }

  @media #{$tablet} {
    justify-content: center;
  }

  @media #{$mobile} {
    bottom: -56vh;
    height: 56vh;
  }

  @media #{$smallmobile} {
    bottom: -61vh;
    height: 61vh;
  }
}

// small screen menu container active state
.config-menu.config-active {
  .configure-button {
    bottom: 49vh;

    @media #{$mobile} {
      bottom: 58vh;
    }

    @media #{$smallmobile} {
      bottom: 63vh;
    }
  }

  .move-button {
    @media #{$mobile} {
      bottom: 65vh;
      transition: bottom 0.2s cubic-bezier(0.99, 0, 0.4, 0.99);
    }

    @media #{$smallmobile} {
      bottom: 75vh;
    }
  }

  .configure-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    bottom: 0px;
  }

  .right-container1 {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    bottom: 0px;
    width: 100vw;
  }

  .right-container2 {
    @media #{$tablet} {
      padding-top: 0;
      margin-top: -40px;

      .easing__button-container {
        margin-left: 0;
      }
    }
  }

  .btn-normal {
    width: 50vw;
    border-radius: 0px;
    box-shadow: none;
  }
}
