html,
body {
  min-height: 100vh;
  background-color: $color-black;
}

p {
  text-align: center;
}

a:visited,
a:link {
  text-decoration: none;
}

// Menu color
.menu {
  a {
    color: $color-lightgrey;
    transition: 0.15s ease;

    &:hover {
      color: $color-white;
    }

    &:focus &:active {
      color: $color-white;
    }
  }

  .current {
    color: $color-white;
  }
}

// Top section background themes
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

// Bottom section background themes
.bottom-section {
  height: 45vh;

  @media #{$tablet} {
    height: 40vh;
  }

  @media #{$mobile} {
    height: 45vh;
  }

  @media #{$smallmobile} {
    height: 45vh;
  }
}

// Bottom section content
.bottom-section__container {
  display: flex;
  justify-content: center;
  width: 75vw;

  @media #{$smalldesktop} {
    flex-direction: column-reverse;
  }

  @media #{$mobile} {
    width: 100vw;
    margin-top: 0px;
  }
}

//General
.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.line-item {
  margin-top: -24px;

  @media #{$smalldesktop} {
    margin-top: 0;
  }
}

.line-item-alt {
  margin-top: -32px;

  @media #{$smalldesktop} {
    margin-top: 0;
  }
}

.no-shrink {
  flex-grow: 0 0 48px;
}

.spacing-block {
  flex: 1 0 48px;

  @media #{$mobile} {
    flex: 1 0 32px;
  }
}
