html,
body {
  min-height: 100vh;
  background-color: $color-black;
}

p {
  text-align: center;
}

// Top section background themes
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

// Bottom section background themes
.bottom-section {
  height: 40vh;
}

// Bottom section content
.bottom-section__container {
  display: flex;
  justify-content: center;
  width: 75vw;

  @media #{$smalldesktop} {
    flex-direction: column-reverse;
  }

  @media #{$mobile} {
    margin-top: 0px;
  }
}

//General
.line-item {
  margin-top: -24px;
}

.line-item-alt {
  margin-top: -32px;
}

.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spacing-block {
  flex: 1 0 48px;
}

// Color themes

// Dark theme
.theme-dark {
  h4 {
    color: $color-white;
  }

  // Menu color
  .menu {
    a {
      color: #999999;
      transition: 0.15s ease;

      &:hover {
        color: $color-white;
      }

      &:focus &:active {
        color: $color-white;
      }
    }
  }

  // Top section color
  .top-section {
    background-color: $color-dark-theme-primary;
    transition: background-color 0.3s ease;
  }

  .top-section__icon-container {
    .top-section__icon {
      color: $color-bright;
    }

    p {
      color: $color-bright;
    }
  }

  // Bottom section color
  .bottom-section {
    background-color: $color-dark-theme-secondary;
    transition: background-color 0.3s ease;

    @media #{$smalldesktop} {
      background-color: $color-dark-theme-primary;
    }
  }

  // Button colors
  .btn {
    background-color: $color-dark-theme-button;
    box-shadow: 1px 2px 8px rgba(15, 15, 15, 0.2);

    &:hover {
      background-color: $color-black;

      h4 {
        color: $color-white;
      }

      .md-col {
        color: $color-white;
      }
    }
  }

  .active {
    background-color: $color-black;

    h4 {
      color: $color-white;
    }
  }

  .toggle-active {
    background-color: $color-black;

    h4 {
      color: $color-white;
    }
  }

  .btnActive {
    background-color: $color-black;
  }

  .md-col {
    color: $color-white;
  }

  // Slider colors
  .input-box {
    background-color: $color-dark-theme-button;
    box-shadow: 1px 2px 8px rgba(15, 15, 15, 0.2);
    color: $color-white;
  }

  .slider {
    background: $color-bright;
  }

  .slider::-webkit-slider-thumb {
    background: $color-dark-theme-button;
    box-shadow: rgba(15, 15, 15, 0.2);
  }
}

// Light theme
.theme-light {
  h4 {
    color: $color-light-theme-text;
  }

  // Menu color

  .menu {
    a {
      color: rgba(93, 93, 93, 0.5);
      transition: 0.03s ease;

      &:hover {
        color: $color-light-theme-text;
      }

      &:focus &:active {
        color: $color-light-theme-text;
      }
    }
  }

  // Top section color
  .top-section {
    background-color: $color-white;
    transition: 0.3s ease;
  }

  .top-section__icon-container {
    p {
      color: $color-black;
    }
  }

  .top-section__icon {
    color: $color-black;
  }

  // Bottom section color
  .bottom-section {
    background-color: $color-light-theme-secondary;
    transition: 0.3s ease;

    @media #{$smalldesktop} {
      background-color: $color-white;
    }
  }

  // Button colors
  .btn {
    background-color: $color-light-theme-button;
    box-shadow: 1px 2px 8px rgba(177, 177, 177, 0.2);

    &:hover {
      background-color: $color-black;

      h4 {
        color: $color-white;
      }

      .md-col {
        color: $color-white;
      }
    }
  }

  .active {
    background-color: $color-black;

    h4 {
      color: $color-white;
    }
  }

  .toggle-active {
    background-color: $color-black;

    .md-col {
      color: $color-white;
    }
  }

  .btnActive {
    background-color: $color-black;
  }

  .md-col {
    color: $color-light-theme-text;
  }

  // Slider colors
  .input-box {
    background-color: $color-light-theme-button;
    box-shadow: 1px 2px 8px rgba(177, 177, 177, 0.2);
    color: $color-light-theme-text;
  }

  .slider {
    background: $color-light-theme-text;
  }

  .slider::-webkit-slider-thumb {
    background: $color-light-theme-button;
    box-shadow: rgba(177, 177, 177, 0.2);
  }
}

// Yellow theme
.theme-yellow {
  h4 {
    color: $color-yellow-theme-text;
  }

  // Menu color
  .menu {
    a {
      color: rgba(119, 105, 12, 0.5);
      transition: 0.03s ease;

      &:hover {
        color: $color-yellow-theme-text;
      }

      &:focus &:active {
        color: $color-yellow-theme-text;
      }
    }
  }

  // Top section color
  .top-section {
    background-color: $color-yellow-theme-primary;
    transition: 0.3s ease;
  }

  .top-section__icon-container {
    .top-section__icon {
      color: $color-black;
    }

    p {
      color: $color-black;
    }
  }

  // Bottom section color
  .bottom-section {
    background-color: $color-yellow-theme-secondary;
    transition: 0.3s ease;

    @media #{$smalldesktop} {
      background-color: $color-yellow-theme-primary;
    }
  }

  // Button colors
  .btn {
    background-color: $color-yellow-theme-button;
    box-shadow: 1px 2px 8px rgba(176, 157, 16, 0.2);

    &:hover {
      background-color: $color-black;

      h4 {
        color: $color-white;
      }

      .md-col {
        color: $color-white;
      }
    }
  }

  .active {
    background-color: $color-black;
    pointer-events: none;

    h4 {
      color: $color-white;
    }
  }

  .toggle-active {
    background-color: $color-black;

    .md-col {
      color: $color-white;
    }
  }

  .btnActive {
    background-color: $color-black;
  }

  .md-col {
    color: $color-yellow-theme-text;
  }

  // Slider colors
  .input-box {
    background-color: $color-yellow-theme-button;
    box-shadow: 1px 2px 8px rgba(176, 157, 16, 0.2);
    color: $color-black;
  }

  .slider {
    background: $color-yellow-theme-text;
  }

  .slider::-webkit-slider-thumb {
    background: $color-yellow-theme-button;
    box-shadow: rgba(176, 157, 16, 0.2);
  }
}

// Blue theme
.theme-blue {
  h4 {
    color: $color-white;
  }

  // Menu color
  .menu {
    a {
      color: rgba(211, 232, 255, 0.5);
      transition: 0.03s ease;

      &:hover {
        color: #d3e8ff;
      }

      &:focus &:active {
        color: #d3e8ff;
      }
    }
  }

  // Top section color
  .top-section {
    background-color: $color-blue-theme-primary;
    transition: 0.3s ease;
  }

  .top-section__icon-container {
    .top-section__icon {
      color: $color-bright;
    }

    p {
      color: $color-bright;
    }
  }

  // Bottom section color
  .bottom-section {
    background-color: $color-blue-theme-secondary;
    transition: 0.3s ease;

    @media #{$smalldesktop} {
      background-color: $color-blue-theme-primary;
    }
  }

  // Button colors
  .btn {
    background-color: $color-blue-theme-button;
    box-shadow: 1px 2px 8px rgba(14, 45, 150, 0.2);

    &:hover {
      background-color: $color-black;

      h4 {
        color: $color-white;
      }

      .md-col {
        color: $color-white;
      }
    }
  }

  .active {
    background-color: $color-black;
    pointer-events: none;

    h4 {
      color: $color-white;
    }
  }

  .toggle-active {
    background-color: $color-black;
    color: $color-white;
  }

  .btnActive {
    background-color: $color-black;
  }

  .md-col {
    color: $color-white;
  }

  // Slider colors
  .input-box {
    background-color: $color-blue-theme-button;
    box-shadow: 1px 2px 8px rgba(14, 45, 150, 0.2);
    color: $color-white;
  }

  .slider {
    background: #19348a;
  }

  .slider::-webkit-slider-thumb {
    background: #2f5df5;
    box-shadow: rgba(177, 177, 177, 0.2);
  }
}
