.btn {
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.07s ease;
  cursor: pointer;

  @media #{$smalldesktop} {
    box-shadow: 0px 5px 15px rgba(15, 15, 15, 0.5);
  }
}

.active {
  pointer-events: none;
}

.btn-normal {
  width: 160px;
  height: 48px;

  @media #{$mobile} {
    width: 150px;
  }

  @media #{$smallmobile} {
    width: 150px;
  }
}

.btn-thin {
  height: 40px;
}

.small-sq {
  width: 48px;
  height: 48px;
  background-color: $color-dark-theme-button;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(15, 15, 15, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.07s ease;
  cursor: pointer;

  @media #{$smalldesktop} {
    box-shadow: 0px 5px 15px rgba(15, 15, 15, 0.5);
  }

  &:hover {
    @media #{$widescreen} {
      background-color: $color-black;
    }
  }
}

.view-active {
  pointer-events: none;
}
