.color-white {
  background-color: $color-bright;
  color: $color-black;
}

.color-black {
  background-color: $color-black;
  color: #fff;
}

.color-darkgrey {
  background-color: $color-darkgrey;
  color: #fff;
}

.color-semi-darkgrey {
  background-color: $color-semi-darkgrey;
  color: $color-bright;
}

.color-mediumgrey {
  background-color: $color-mediumgrey;
  color: $color-bright;
}
