.color-white {
  background-color: $color-bright;
  color: $color-black;
}

.color-black {
  background-color: $color-black;
  color: $color-white;
}

.color-darkgrey {
  background-color: $color-dark-theme-secondary;
  color: $color-white;
}

.color-semi-darkgrey {
  background-color: $color-dark-theme-primary;
  color: $color-bright;
}

.color-mediumgrey {
  background-color: $color-dark-theme-button;
  color: $color-bright;
}
