a {
  font-family: "SourceSansVariable", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}

h1 {
  font-family: "SourceSansVariable";
  font-size: 4em;
  font-variation-settings: "wght" 700;
}

h4 {
  font-family: "SourceSansVariable";
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: $color-white;
}

html {
  font-family: sans-serif;
}

@supports (font-variation-settings: normal) {
  font-family: "SourceSansVariable", sans-serif;
  font-variation-settings: "wght" 400;
}

p {
  font-family: "SourceSansVariable", sans-serif;
  font-size: 0.875em;
  line-height: 25px;
  font-weight: 500;
  // font-variation-settings: "wght" 400;
  letter-spacing: 0.5px;
  color: $color-white;

  @media #{$smalldesktop} {
    font-size: 1.125em;
    letter-spacing: 0.8px;
  }
}

.fs-vmin {
  font-size: 25vmin;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}
