$color-black: #101010;

$color-darkgrey: #1D1D1D;

$color-hover: #2A2A2A;

$color-semi-darkgrey: #212121;

$color-mediumgrey: #464646;

$color-bright: #fff;

$mobile: "only screen and (max-width: 650px)";

$tablet: "only screen and (max-width: 768px)";

$desktop: "only screen and (max-width: 980px)";

$widescreen: "only screen and (min-width: 981px)";
