<!-- About page -->

<div class="menu-container">
  <section class="menu" id="menuExpand">
    <a href="javascript:void(0)"; class="hamburger" onclick="menuExpand()">A</a>
    <a href="#home" class="menu__logo">Variicons</a>
    <nav class="menu__links">
      <a href=""></a>
      <a href=""></a>
      <a href="index.html" class="menu__item">CONFIGURATOR</a>
      <a href="about.html" class="menu__item">ABOUT</a>
      <a href="how-to-use.html" class="menu__item">HOW TO USE VARIICONS</a>
      <a href="" class="menu__item">GITHUB</a>
    </nav>
  </section>
</div>
<div class="text-wrap">
  <h1>About Variicons</h1><br>
  <h4>Variicons is a icon library created with Variable Fonts and made to show some of the possibllities of its technique. </h4><br><br>
  <p>Variable Fonts is a specific font format that most browsers have support for (checkout support here) and the biggest advantage using it is that you only have to use one single font file for each typeface and still get all font weights in it like Regluar, Thin or Bold. This is because within the Variable Font file there's masters, or extremes, set between the thinnest and the thickest state of each glyph and the browser is able to interpolate between these masters to output a desired weight value.<br><br>

  But there's more possibilities with this technique just than changing font weights. The masters can also be seen as states, where master no 1 is the first state and master no 2 is the second state, which makes it possible to make icons with built-in animations. And this is how Variicons is made.<br><br>

  Each icon is made up in a typeface-tool with master that works like animation states, which the browser later can interpolate between.
</p><br><br>
  <div>
    <img src="images/masters.png" alt="">
  </div><br><br>
  <p>The magical way to control the font settings when using it in a webpage is to use the CSS keyword "font-variation-settings". With this keyword you'll access the properties that is set for each icon in the font.</p><br><br>
  <div>

  </div>
  <p>And you can bind the animation to be triggered on the most common ways that is used in code, like on hover or when clicked etc. For a more thorough explanation on how to use it in your own web projects, check out the "how to use" page.</p>
</div>
