<!-- HOW TO USE VARIICONS -->

<div class="menu-container">
  <section class="menu" id="menuExpand">
    <a href="javascript:void(0)"; class="hamburger" onclick="menuExpand()">A</a>
    <a href="#home" class="menu__logo">Variicons</a>
    <nav class="menu__links">
      <a href=""></a>
      <a href=""></a>
      <a href="index.html" class="menu__item">CONFIGURATOR</a>
      <a href="about.html" class="menu__item">ABOUT</a>
      <a href="how-to-use.html" class="menu__item">HOW TO USE VARIICONS</a>
      <a href="" class="menu__item">GITHUB</a>
    </nav>
  </section>
</div>
<div class="text-wrap">
  <h1>How to use Variicons</h1>
  <h4>Variicons is a icon library created with Variable Fonts and made to show some of the possibllities of its technique. </h4><br><br>
  <p><br><br>

  <br>
  </p>
  <div class="img-box">
    <img src="" alt="">
    <p>In the type tool I make masters, or extremes that the browser later will interpolate between.</p>
  </div>
  <p><strong></strong> </p>
  <div class="img-box">

  </div>
  <p><strong></strong> </p>
</div>
