---
title: Welcome to Middleman
---
<section class="header">
  <div class="logo-wrapper">
    <h1>Variicon</h1>
  </div>
  <div class="nav-links">
    <a class="nav-b color-darkgrey" href="#"><p>Configurator</p></a>
    <a class="nav-b color-semi-darkgrey" href="#"><p>Get library</p></a>
  </div>
</section>
<section class="hero">
  <div class="ani-icons">
    <h3>Animated icons here</h3>
  </div>
  <h1>An easier way to implement animate icons</h1>
  <p class="hero-preamble">This is an icon library made with variable fonts. Each icon have preset states which makes them easy to implement in digital projects.</p>
  <div class="content-wrapper">
    <a href="#" class="button3 color-semi-darkgrey"><p>Get the icon library</p></a>
    <a href="#" class="button3 color-darkgrey"><p>Go to Configurator</p></a>
  </div>

</section>
<section class="fifty-fifty">
  <div class="fifty-fifty-block color-white">
    <h5>How it works</h5>
    <div class="placeholder centered">
      <h1>Icon animation</h1>
    </div>
  </div>
  <div class="fifty-fifty-block color-black flex-col">
    <h5>Masters</h5>
    <div class="placeholder">
      <h1>Master icons</h1>
    </div>
    <p>Each icon is made up with masters existing in the library. The tech behind variable fonts makes it possible to interpolate between different masters and that can be used to create animated icons directly from the library.</p>
  </div>
</section>
<section class="fullw-section">
  <div class="">
    <h5>Try it out</h5>
    <p>The icons can be customized in thickness and roundness to suit your taste.</p>
  </div>
  <div class="content-box">
    <h1>Testable icon here</h1>
    <h1>Sliders here</h1>
  </div>
</section>
<a href="#" class="button1 color-semi-darkgrey">
  <p>Go to Configurator</p></a>
<section>
  <div class="fifty-fifty">
    <div class="fifty-fifty-block color-black">
      <h5>Setup</h5>
      <p class="setup-text">To implement it takes a few lines in css. With @keyframes and “Transform” you can create your own animations. Watch the codepen for an example.</p>
      <p class="setup-text">@keyframes {
      } Transition { }</p>
    </div>
    <div class="fifty-fifty-block color-white">
        <h1 class="placeholder centered">Animated icon goes here</h1>
    </div>
  </div>
  <a href="#" class="button2 color-semi-darkgrey"><p>Codepen example</p></a>
</section>
<section class="fullw-section2">
  <h5>Available icons</h5>
    <h1 class="content-box">Icons go here</h1>
    <a href="#" class="content-box button3 color-darkgrey"><p>Get the icon library</p></a>

</section>
