---
title: Variicons
---
<section class="top-section vert-wrapper">
    <div class="icon">
      B
    </div>
    <p>hamburger_1</p>
</section>
<section class="bot-section wrapper">
  <div class="wrapper-row1">
    <div class="left-row1">
      <div class="button-large-square line-item-alt">
        <h4>Ham</h4>
      </div>
    </div>
    <div class="mid-row1">
      <div class="button-default-active line-item">
        <h4>State 1</h4>
      </div>
      <div class="button-default-idle line-item">
        <h4>State 2</h4>
    </div>
    </div>
    <div class="right-row1">
      <div class="button-default-active line-item">
        <h4>Configure</h4>
      </div>
      <div class="button-default-idle line-item">
        <h4>Get code</h4>
    </div>
    </div>
  </div>
  <div class="wrapper-row2">
    <div class="left-row2">
      <p>Select icon</p>
    </div>
    <div class="mid-row2">
      <div class="button-small-square">
        <h4>Loop</h4>
      </div>
      <div class="button-small-square">
        <h4>Col</h4>
      </div>
    </div>
    <div class="right-row2">
      <div class="wicked-box">
        <div class="slider-wrapper">
          <h4>Weight</h4>
          <input type="range" min="1" max="100" value="1" class="slider" id="slider-wght">
          <input type="text" class="input-box" id="output-wght">
        </div>
        <div class="slider-wrapper">
          <h4>Width</h4>
          <input type="range" min="1" max="100" value="1" class="slider" id="slider-wght">
          <input type="text" class="input-box" id="output-wght">
        </div>
        <div class="slider-wrapper">
          <h4>Duration</h4>
          <input type="range" min="1" max="100" value="1" class="slider" id="slider-wght">
          <input type="text" class="input-box" id="output-wght">
        </div>

      </div>
    </div>
  </div>

</section>
