---
title: Variicons
---
<div class="js-theme theme-dark">
<div class="menu-container">
  <section class="menu" id="menuExpand">
    <a href="javascript:void(0)"; class="hamburger" onclick="menuExpand()">A</a>
    <a href="#home" class="menu__logo">Variicons</a>
    <nav class="menu__links">
      <a href="#"></a>
      <a href="#"></a>
      <a href="index.html" class="menu__item">CONFIGURATOR</a>
      <a href="about.html" class="menu__item">ABOUT</a>
      <a href="how-to-use.html" class="menu__item">HOW TO USE VARIICONS</a>
      <a href="#" class="menu__item">GITHUB</a>
    </nav>
  </section>
</div>


    <section class="top-section">
        <div class="spacing-block"></div>
        <div class="top-section__icon-container">
          <div class="top-section__icon js-icon" id="iconAnimate">
            B
          </div>
          <p>hamburger_1</p>
        </div>
        <div class="spacing-block"></div>
    </section>

  <section class="bottom-section flex-col">

    <div class="bottom-section__container">
        <div class="left-container1 line-item-alt">
          <div class="icon-item" title="hamburger_1">
            B
          </div>
          <div class="icon-item" title="hamburger_2">
            A
          </div>
        </div>

      <div class="spacing-block"></div>

      <div class="flex-col">
        <div class="mid-container1">
          <div class="btn btn-normal line-item js-state-btn active" id="buttonState1">
            <h4>State 1</h4>
          </div>
          <div class="btn btn-normal line-item js-state-btn" id="buttonState2">
            <h4>State 2</h4>
        </div>
        </div>
        <div class="mid-container2">
          <div class="small-sq js-loop-button" onclick="buttonToggle1()">
            <i class="material-icons md-col">loop</i>
          </div>
          <div class="theme-picker">
            <div class="small-sq js-button-expand" onclick="buttonToggle2()">
              <i class="material-icons md-col">lens</i>
            </div>
            </div>
          </div>
          <div class="theme-picker-sheet">
            <ol class="theme-picker-sheet__colors">
              <li class="theme-picker-sheet__color">
                <button class="js-theme-button theme-picker-sheet__color--background" data-theme="dark"></button>
              </li>
              <li class="theme-picker-sheet__color">
                <button class="js-theme-button theme-picker-sheet__color--background" data-theme="light"></button>
              </li>
              <li class="theme-picker-sheet__color">
                <button class="js-theme-button theme-picker-sheet__color--background" data-theme="yellow"></button>
              </li>
              <li class="theme-picker-sheet__color">
                <button class="js-theme-button theme-picker-sheet__color--background" data-theme="blue"></button>
              </li>
            </ol>
          </div>
        </div>

      <div class="spacing-block"></div>

      <div class="flex-col config-menu">
        <div class="configure-button" onclick="configMenuExpand()"></div>

        <div class="right-container1">
          <div class="btn btn-normal line-item js-view-btn view-active" id="js-configure">
            <h4>Configure</h4>
          </div>
          <div class="btn btn-normal line-item js-view-btn" id="js-code">
            <h4>Get code</h4>
          </div>
        </div>
        <div class="configure-bg">

          <div class="right-container2">
            <div class="properties-wrapper">
              <div class="slider-wrapper">
                <h4>Width</h4>
                <input type="range" min="1" max="100" value="80" class="slider" id="slider-wdth">
                <input type="number" class="input-box" value="80" id="output-wdth">
              </div>
              <div class="slider-wrapper">
                <h4>Weight</h4>
                <input type="range" min="1" max="100" value="30" class="slider" id="slider-wght">
                <input type="number" class="input-box" value="30" id="output-wght">
              </div>
              <div class="slider-wrapper">
                <h4>Duration</h4>
                <input type="range" min="0" max="1200" value="400" class="slider" step="10" id="slider-dura">
                <input type="number" class="input-box" min="0" max="1200" value="400" step="10" id="output-dura">
              </div>
            </div>

            <div class="easing">
              <h4 id="desktop-title">Easing</h4>
              <div class="easing__button-container">
                <!-- <div class="btn btn-thin" id="button-easing">
                  <h4>linear</h4>
                </div> -->
                <button type="button" name="button" class="btn"><h4>linear</h4></button>
                <button type="button" name="button" class="btn active"><h4>ease</h4></button>
                <button type="button" name="button" class="btn"><h4>ease-in</h4></button>
                <button type="button" name="button" class="btn"><h4>ease-out</h4></button>
                <button type="button" name="button" class="btn"><h4>ease-in-out</h4></button>
                <!-- <div class="btn btn-thin">
                  <h4>cubic-bezier</h4> -->
                </div>
              </div>
            </div>
          </div>
          <div class="right-container-code">
            <div class="code__wrapper">
              <p>.hamburger_1-state1 { <br>
                	font-variation-settings: “TIME” 0, “wdth” 30, “wght” 60;<br>
                }<br><br>
                  .hamburger_1-state2 { <br>
                	  cursor: pointer; <br>
                    font-variation-settings: "TIME" 100, <br>
                    transition-property: font-variation-settings; <br>
                    transition-duration: 0.3s; <br>
                  }
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
