---
title: Variicons
---
<div class="menu-container__block">
  <section class="menu-container" id="menuExpand">
    <a href="javascript:void(0)"; class="hamburger" onclick="menuExpand()">A</a>
    <a href="#home" class="menu-item__logo">Variicons</a>
    <nav class="menu-container__links">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#" class="menu-item">CONFIGURATOR</a>
      <a href="#" class="menu-item">ABOUT</a>
      <a href="#" class="menu-item">INSTALLATION GUIDE</a>
      <a href="#" class="menu-item">DOWNLOAD VARIICONS</a>
      <div class="menu-item__color-pick"></div>
    </nav>
  </section>
</div>


<section class="top-section">
    <div class="spacing-block"></div>
    <div class="wrapper-centered">
      <div class="icon" id="iconAnimate">
        B
      </div>
      <p>hamburger_1</p>
    </div>
    <div class="spacing-block"></div>
</section>

<section class="bottom-section wrapper-col">
  <div class="wrapper-bottom">
    <div class="wrapper-col">
      <div class="left-row1">
        <div class="btn large-sq hamburger2 fs-32 line-item-alt btnActive">
          B
        </div>
      </div>
      <div class="left-row2">
        <p>Select icon</p>
      </div>
    </div>

    <div class="spacing-block"></div>

    <div class="wrapper-col">
      <div class="btn-container-row1" id="btnContainer">
        <div class="btn btn-normal line-item btnClick active" onclick="iconAnimate()">
          <h4>State 1</h4>
        </div>
        <div class="btn btn-normal line-item btnClick" onclick="iconAnimate()">
          <h4>State 2</h4>
      </div>
      </div>
      <div class="btn-container-row2">
        <div class="btn small-sq" onclick="buttonToggle()" id="buttonToggle">
          <i class="material-icons md-light">loop</i>
        </div>
        <div class="color-theme-picker-container">
          <div class="btn small-sq" id="" onclick="colorThemePicker()">
            <i class="material-icons md-light">lens</i>
          </div>
          <div class="btn color-theme-picker" id="color-pick">
            <div class="theme-pick col-dark">
            </div>
            <div class="theme-pick col-light">
            </div>
            <div class="theme-pick col-yellow">
            </div>
            <div class="theme-pick col-blue">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="spacing-block"></div>

    <div class="wrapper-col">
      <div class="right-row1">
        <div class="btn btn-normal line-item btnActive">
          <h4>Configure</h4>
        </div>
        <div class="btn btn-normal line-item">
          <h4>Get code</h4>
        </div>
      </div>
      <div class="right-row2">
        <div class="slider-wrapper">
          <h4>Weight</h4>
          <input type="range" min="1" max="100" value="1" class="slider" id="slider-wght">
          <input type="text" class="input-box" id="output-wght">
        </div>
        <div class="slider-wrapper">
          <h4>Width</h4>
          <input type="range" min="1" max="100" value="1" class="slider" id="slider-wght">
          <input type="text" class="input-box" id="output-wght">
        </div>
        <div class="slider-wrapper">
          <h4>Duration</h4>
          <input type="range" min="1" max="100" value="1" class="slider" id="slider-wght">
          <input type="text" class="input-box" id="output-wght">
        </div>
      </div>

      <div class="wrapper-ease">
        <h4>Easing</h4>
        <div class="wrapper-button">
          <div class="btn btn-thin">
            <h4>linear</h4>
          </div>
          <div class="btn btn-thin">
            <h4>cubic-bezier</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
