---
title: Variicons
---
<section class="header">
  <div class="logo-wrapper">
    <h1 style="font-variation-settings: 'wght' 400;">
  Variicon</h1>
  </div>
  <div class="nav-links">
    <a class="nav-b color-darkgrey" href="#"><p>Configurator</p></a>
    <a class="nav-b color-semi-darkgrey" href="#"><p>Get library</p></a>
  </div>
</section>
<section class="hero">
  <div class="ani-icons">
    <h3>Animated icons here</h3>
  </div>
  <h1>An easier way to implement animated icons</h1>
  <p class="hero-preamble">This is an icon library made with variable fonts. Each icon have preset states which makes them easy to implement in digital projects.</p>
  <div class="content-wrapper">
    <a href="#" class="button3 color-semi-darkgrey"><p>Get the icon library</p></a>
    <a href="#" class="button3 color-darkgrey"><p>Go to Configurator</p></a>
  </div>

</section>
<section class="fifty-fifty">
  <div class="fifty-fifty-block color-white">
    <h5>How it works</h5>
    <div class="placeholder centered slider-wrapper">
      <h1 class="fontbox">Icon animation</h1>
      <div class="">
        <p class="input-text">"Font-size"</p>
        <input type="range" min="1" max="100" value="1" class="slider" id="slider-fontsize">
        <p class="input-text"><span id="output-fontsize"></span></p>
      </div>
    </div>
  </div>
  <div class="fifty-fifty-block color-black flex-col">
    <h5>Masters</h5>
    <div class="placeholder">
      <h1>Master icons</h1>
    </div>
    <p>Each icon is made up with masters existing in the library. The tech behind variable fonts makes it possible to interpolate between different masters and that can be used to create animated icons directly from the library.</p>
  </div>
</section>
<section class="fullw-section">
  <div class="">
    <h5>Try it out</h5>
    <p>The icons can be customized in thickness and roundness to suit your taste.</p>
  </div>
  <div class="content-box">
    <h1 class="icon js-icon">B</h1>
    <div class="slider-wrapper">
      <div class="">
        <p class="input-text">"TIME"</p>
        <input type="range" min="1" max="100" value="1" class="slider" id="slider-TIME">
        <p class="input-text"><span id="output-TIME"></span></p>
      </div>
      <div class="">
        <p class="input-text">"wght"</p>
        <input type="range" min="1" max="100" value="1" class="slider" id="slider-wght">
        <p class="input-text"><span id="output-wght"></span></p>
      </div>
      <div class="">
        <p class="input-text">"wdth"</p>
        <input type="range" min="1" max="100" value="100" class="slider" id="slider-wdth">
        <p class="input-text"><span id="output-wdth"></span></p>
      </div>
    </div>
  </div>
</section>
<a href="#" class="button1 color-semi-darkgrey">
  <p>Go to Configurator</p></a>
<section>
  <div class="fifty-fifty">
    <div class="fifty-fifty-block color-black">
      <h5>Setup</h5>
      <p class="setup-text">To implement it takes a few lines in css. With @keyframes and “Transform” you can create your own animations. Watch the codepen for an example.</p>
      <p class="setup-text">@keyframes {
      } Transition { }</p>
    </div>
    <div class="fifty-fifty-block color-white flex-col">
      <div class="content-box">
          <h1 class="icon">A</h1>
      </div>

    </div>
  </div>
  <a href="#" class="button2 color-semi-darkgrey"><p>Codepen example</p></a>
</section>
<section class="fullw-section2">
  <h5>Available icons</h5>
    <h1 class="content-box">Icons go here</h1>
    <a href="#" class="content-box button3 color-darkgrey"><p>Get the icon library</p></a>

</section>
