---
title: Welcome to Middleman
---
<section class="header">
  <h1>Variicon</h1>
  <div class="nav-links">
    <a class="nav-b color-darkgrey" href="#"><p>Configurator</p></a>
    <a class="nav-b color-black" href="#"><p>Get library</p></a>
  </div>
</section>
<section class="hero">
  <div class="">
    <h3>Animated icons here</h3>
  </div>
  <h1>An easier way to implement animate icons</h1>
  <h3>This is an icon library made with variable fonts. Each icon have preset states which makes them easy to implement in digital projects.</h3>
  <a href="#"><p>Download the icon library</p></a>
</section>
<section class="fifty-fifty">
  <div class="fifty-fifty-block block-white">
    <h5>How it works</h5>
    <div class="placeholder">
      <h1>Icon animation</h1>
    </div>
  </div>
  <div class="fifty-fifty-block block-black">
    <h5>Masters</h5>
    <div class="placeholder">
      <h1>Master icons</h1>
    </div>
    <p class="text-block">Each icon is made up with masters existing in the library. The tech behind variable fonts makes it possible to interpolate between different masters and that can be used to create animated icons directly from the library.</p>
  </div>
</section>
<section>
  <h5>Try it out</h5>
  <p>The icons can be customized in thickness and roundness to suit your taste.</p>
  <div class="">
    <h1>Testable icon here</h1>
  </div>
  <div class="">
    <h1>Sliders here</h1>
  </div>
  <a href="#" class="button1-fullw"><p>Go to Configurator</p></a>
</section>
<section clss="fifty-fifty">
  <div class="fifty-fifty-block">
    <h5>Setup</h5>
    <p>To implement it takes a few lines in css. With @keyframes and “Transform” you can create your own animations. Watch the codepen for an example.</p>
    <p>@keyframes {
    } Transition { }</p>
    <a href="#" class="button1-fullw">Codepen example</a>
  </div>
  <div class="fifty-fifty-right">
    <div class="">
      <h1>Animated icon goes here</h1>
    </div>
  </div>
</section>
<section>
  <h5>Available icons</h5>
  <div class="">
    <h1>Icons go here</h1>
  </div>
  <a href="#" class=""><p>Go to Configurator</p></a>
</section>
